.btn
{
    font-family: Arial;
    padding: 5px 10px;
    background: #333;
    color: white;
    margin: 5px;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover
{
    background: #666;
}

.span12.question{
    font-size: 20px;
    color: blue;
    margin-bottom: 20px;
    margin-top: 50px;
}
.span11.answer{
    padding-left: 20px;
}
.span11.answer .span1:hover{
    background-color: #cccccc;
}
.span11.answer .span11:hover{
    background-color: #cccccc;
}

.goto{
    color: red;
    margin-right: 20px;
    text-decoration: none;
}

a.goto:link {
    text-decoration: none;
}

a.goto:visited {
    text-decoration: none;
}

#start a{
    width: 30px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
    background: -moz-linear-gradient(
        top,
        #6b6b6b 0%,
        #000000);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#6b6b6b),
        to(#000000));
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid #000000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}
#start a:hover{
    background: #c1976c;
}