input.button {
    height: 32px;
    padding-left: 36px;
    padding-right: 10px;
    border: 1px solid #000000;                
    background: #ff9900;
    cursor: pointer;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: 20px;
}
input.button:hover{
    background: black;
    color: white;
}